<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cognizant</string>

    <key>ProgramArguments</key>
    <array>
      <string>/var/mobile/relo/autorelo.sh</string>
      <string>./conf/cognizant.conf</string>
    </array>

    <key>StartInterval</key>
    <integer>60</integer> <!-- 1 Minuten -->

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/autorelo.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/autorelo.err</string>
  </dict>
</plist>
